body {
  
  background-color: rgb(177, 211, 220); 
  padding: 15px 15px 15px 15px;
  text-align: left;
  justify-content: left;
  margin-right: auto;
}

.toptext {
  text-align: left;
}
.links {
  width: 30%;
}
.footertext {
  width: 70%;
}
header, footer, .center {
  text-align: center; 
  display: flex;
}

th, td {
  padding: 2px 15px;
  max-width: 200px;
  overflow: auto;
  white-space: nowrap; }

h2, h3, h4, h5, h6, ul, li {
  margin-bottom: 0; }

footer {
  margin-top: 10px; 
  display: flex;
}

.container {
  width: 95%;
  max-width: 95%; }

.grid {
  margin-bottom: 20px;
  width: 100%;
  height: 200px; }

.ui {
  padding: 14px 14px 14px 14px;
  outline: 2px solid rgb(101, 188, 132);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  border-radius: 48px;
  background-color: rgb(206, 245, 255);
}
.version {
  color: #494949e3;
  font-size: 0.3em; }

.views {
  margin-top: 20px;
  margin-bottom: 10px; 
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}

.download-button {
  margin-left: 10px; 
}
button.fa-download{

  background-color: #C43E3A;
}

.no-margin {
  margin: 0px; }

.spinner {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  z-index: 1000;
  background-color: grey;
  border-radius: 25px;
  opacity: .8;
  text-align: center; }

.spinner-icon {
  position: relative;
  top: 50%;
  margin-top: -100px;
  font-size: 200px;
  transform: translateY(-50%); }

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D9534F; }

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
  color: #FFF;
  background-color: #C43E3A;
  border-color: #C43E3A; }

a {
  text-decoration: none;
  color: black;
}
